.sectionContainer {
    min-height: 100vh;
    padding: 2rem 5rem;
    background-color: #fdfaf5;
    width: fit-content; 
    min-width: 100vw;
}

.aboutTitle {
    font-size: 7rem;
    line-height: 1.1;
    margin-bottom: 3rem;
    font-weight: bold;
    color: #97dc42;
    width: max-content;
}

.threeColumnGrid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 3rem;
    align-items: start;
    width: 1300px; 
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 400px;
}


.smallPhoto, .fullWidthPhoto {
    width: 400px;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: contain;
}

.contentBox h2, .contentBox h3 {
    margin-top: 0;
    color: #2a769c;
}

.aboutParagraph {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #333;
    list-style: none;
    width: 400px;
}
