@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #17171717
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


*{
  font-family: Futura;
  font-weight: 1px;
  color: black;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header{
  border: 1px solid white;
  
  
}
.banner-title{
  font-size: 2rem;
  margin: 1em 0;
}

.nav-bar{
  background-color: black;
  padding: 1em 0 1em 3em;
  
}

.nav-link{
  margin-right: 5%;
  color: white;
  font-size: 1rem;
}
.nav-link:hover{
  color: rgb(254, 254, 119);
}

.section-container{
  padding-top: 1rem;
  border: 2px solid white;
  
}
.section-title{
  font-size: 1.5rem;
  margin-bottom: 1em;

}

.project-grid{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 200px, 1fr ));
  gap: 1em;
}



.project-container{
  display: flex;
  flex-direction: column;
  white-space: normal;
  border-radius: 20px;
  background-color: aliceblue;
  margin: 1em;
  padding: 2em;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 8px rgba(49, 48, 48, 0.2);
}

.project-container:hover{
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  

}


.project-img{
  height: 150px;
  width: 150px;
  border: 5px solid rgba(255, 255, 255, 0.403);
}
.project-title{
  margin: 1em 0;
}
.project-description{
  margin: 1em 0;
}
.project-tags{
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}


.footer{
  display: flex;
  margin: auto 0 0 0;
  text-align: center;
  padding: 1em;

  justify-content: center;
  justify-items: center;

  align-items: center;
  align-content: center;
  
  border-top: 1px solid whitesmoke;
}
