/* Home Page / Welcome */


.sectionContainer {
    display: flex;
    flex-direction: column;
    width: 150%; 
    min-width: 15em;
    overflow: hidden;
    padding-left: 50px;
}


.aboutBody{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}

.aboutTitle {
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #151d08;
    width: max-content;
    font-family:"Bookman";

}

.leftSide {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
    width: fit-content;
    min-width: fit-content;

}

.imageWrapper {
    flex-shrink: 0;
    max-width: 300px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.headshotImg {
    width: 100%;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.mainText {
    flex: 0;
    min-width: 300px;
    max-width: 300px;
}

.paragraphList {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width:
}

.aboutParagraph {
    margin-bottom: 1.5rem;
    line-height: 1.6;
    font-size: clamp(1rem, 1.1vw, 1.1rem); 
}

/* Mobile Breakpoint */
@media (max-width: 900px) {
    .leftSide {
        flex-direction: column;
        align-items: center;
        text-align: left; 
        gap: 2rem;
    }

    .mainText {
        min-width: 100%;
    }

    .imageWrapper {
        max-width: 250px;
    }
}