/* Home Page / Welcome */


.sectionContainer {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    height: auto;

    min-height: max-content;
    flex-wrap: nowrap;

    box-sizing: border-box;

    overflow: visible;
    padding: 0;

}


.aboutBody{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 100%;
    border: 5px solid green;

}

.aboutTitle {
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #151d08;
    width: max-content;
    font-family:"Bookman";

}

/* Overridden 
.leftSide {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    max-width: none;
    border: 5px solid green;

*/}

.imageWrapper {
    flex: 0 0 300px;
}

.headshotImg {
    width: 100%;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.mainText {
    flex: 1;
  min-width: 300px;
  max-width: 800px;
    
}

.paragraphList {
    list-style: none;
    padding: 0;
    margin: 0;

}

.aboutParagraph {
    margin-bottom: 1.5rem;
    line-height: 1.6;
    font-size: clamp(1rem, 1.1vw, 1.1rem); 
}

/* Mobile Breakpoint */
@media (max-width: 768px) {
    .sectionContainer {
        flex-direction: column;
        padding: 10px;
    }
    .aboutBody {
        flex-direction: column;
        align-items: center;
    }
}